<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.albertosancheznieto.polux/menu.application" insertBefore="administration">
        <item screen="polux_User.browse" caption="msg://com.albertosancheznieto.polux.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="polux_FidelizadosScreen"
              caption="msg://com.albertosancheznieto.polux.screen.fidelizados/fidelizadosScreen.caption"/>
    </menu>

</menu-config>